<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .del {
        text-decoration: line-through;
        opacity: 0.6;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>
        <input v-model="inputVal" @keyup.enter="add" />
        <button v-if="completeNum>0" @click="clear">清除</button>
      </div>
      <ul>
        <li v-for="todo in todos">
          <input v-model="todo.complete" type="checkbox" />
          <span :class="{del: todo.complete}">{{todo.value}}</span>
          <button @click="del(todo.id)">删除</button>
        </li>
      </ul>
      <div>
        <span>全选</span>
        <input v-model="selectAllValue" type="checkbox" />
        <span>{{completeNum}}/{{total}}</span>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      /* 
            先用jquery 展示一边
            jq缺点：数据和页面需要手动关联，当遇到多对多关系时，非常容易出bug
            vue: 数据页面自动关联


            1. input 输入回车后添加
            2. 点击删除 删除此条数据
            3. 选中状态 内容展示中划线
            4. 统计  完成数量/所有数量
            5. 全选按钮
            6. 清除按钮，清除已完成的，如果没有已完成的 删除按钮不展示
        */
      const app = new Vue({
        el: "#app",
        data: {
          todos: [
            { id: 1, value: "123", complete: true },
            { id: 2, value: "111", complete: false },
          ],
          inputVal: "",
        },
        /* 
            计算属性 
            1. 方便维护
            2. 提升性能，vue 提供了缓存,如果todos 不发生改变 不用重新计算
        */
        computed: {
          total: function () {
            return this.todos.length;
          },
          completeNum: function () {
            return this.todos.filter((item) => item.complete).length;
          },
          selectAllValue: {
            // 获取值时做处理
            get: function () {
              console.log("获取值");
              return this.completeNum === this.total;
            },
            // 设置值时做处理
            set: function (val) {
              console.log("设置值", val);
              this.todos.forEach((todo) => {
                todo.complete = val;
              });
            },
          },
        },
        methods: {
          del: function (id) {
            console.log(id, typeof id, this.todos);
            for (let i = 0; i < this.todos.length; ++i) {
              const todo = this.todos[i];
              if (todo.id === id) {
                this.todos.splice(i, 1);
                break;
              }
            }
          },
          add: function () {
            this.todos.push({
              id: this.createId(),
              value: this.inputVal,
              complete: false,
            });
            console.log(this.todos);
            this.inputVal = "";
          },
          clear: function () {
            this.todos = this.todos.filter((todo) => !todo.complete);
          },
          createId: function () {
            return parseInt(Math.random() * 10 * 6) + new Date().getTime();
          },
        },
      });
    </script>
  </body>
</html>
